<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>DoctorQA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/chatUI-style.css">
    <link rel="shortcut icon" href="static/icon/doctor.ico">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="chat-container light-mode">
        <div class="chat-content">
            <div class="chat-header">
                <button id="chatarea-button">
                    <img src="static\icon\icons8-menu-50.png" style="object-fit: contain;display: block;width: 24px;height: 24px;"/>
                </button>
                <div class="first-title">
                    <i class="fa fa-stethoscope" style="font-size:25px"></i>DoctorQA
                </div>
                <div class="header-right">
                    <div class="mode-toggle">
                        <label class="switch">
                            <input type="checkbox"
                                   id="mode-toggle-checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="user-avatar">
                        <img src="data:image/jpeg;base64,{{ user_avatar }}" class="avatar-image", id="avatar">
                    </div>
                </div>
            </div>
            <div id="multi-chat" style="display: none;">
                <div id="multi-chat-header" style="height: 25px;width: 100%;">
                    <button id="close-multi-chat">
                        <img src="static\icon\icons8-sort-left-50.png" style="object-fit: contain;display: block;width: 24px;height: 24px;"/>
                    </button> 
                </div>
                <h3>Sidebar</h3>
                <p>This is your sidebar content.</p>
              </div>
            <div class="chat-box" id="chat-box"></div>
            <div class="input-container" id="input-container-box">
                <textarea type="text" id="user-input"
                       placeholder="Bắt đầu cuộc trò chuyện"></textarea>
                <button id="send-button">
                  <img src="static/icon/icons8-send-64.png" alt="Send" class="send-icon"/>
                </button>
            </div>
        </div>
    </div>
    <script src="/static/js/mainUI.js"></script>
</body>

</html>